{% extends "base.html" %}
{% block map %}
<a href="/ansible/">第三方接口</a>
{% endblock %}
{% block user %}

    <div class="row">
        <div class="col-sm-12 border-bottom white-bg dashboard-header" style="margin-left:15px;height: 800px">
                 
<div>
 <form  id="cmdform" class="form-inline">     <!--定义垂直表单样式-->
 <div class="form-group"> <!--定义一组div-->
       <label>目标主机</label>
       <select id="pattern" name="pattern"  class="form-control" >
       </select>
 </div>    <!---pattern end-->
 
  <div class="form-group">
   <label>模块</label>
   <select id="module" name="module"  class="form-control" >
   <option value='shell'>shell</option>
   <option value='command'>command</option>
   </select>
  </div>     <!---module  end-->

  <div class="form-group">
    <label>命令</label>
    <select id="cmd" name="cmd"  class="form-control" >
    <option value='pwd'>pwd</option>
    <option value='uptime'>uptime</option>
    <option value='df -h'>df -h</option>
    <option value='free -m'>free -m</option>
    </select>
  </div>     <!---cmd  end-->

  <div class="form-group">
       <label>并发</label>
       <select id="forks" name="forks"  class="form-control" >
       <option value='5'>5</option>
       <option value='10'>10</option>
       <option value='15'>15</option>
       </select>
    </div> <!--forks  end -->

 <div class="form-group">
     <button class="btn btn-primary btn-sm">执行命令</button>
     <button class="btn btn-info btn-sm" id="joblist">任务列表</button>
 </div><!--button end-->
</form><!--form end-->
</div>  

<div class="row">
    <pre id='display' style="color:#f8f8ff;background:#000000"><pre/>
</div>
<script>
function joblist(){
    $.getJSON('/ansible_list/',function(data){
        console.log(data)
         var strlist=''
         $.each(data,function(i,v){
             strlist+="<strong>"+v+"</strong>"})
         console.log(strlist)
        $('#display').html(strlist)
    })
}
joblist()

/* submit cmdform*/
$('#cmdform').on('submit',function(){
    var str = $('#cmdform').serialize()
    var url = '/ansible_data/?'+str
    console.log(url)
    $.getJSON(url,function(data){
        console.log(data)
        //data = "<strong><pre>"+data+"</pre></strong>"
         var str1=""
         $.each(data,function(s,i){
           str1 +="<strong>"+i.hostname+"|"+i.cmd+"|"+"sucess"+">>"+"<br/>"+i.stdout+"</strong>"+"<br/>"
               })
           console.log(str1)
         $('#display').html(str1)
        
    })
    return false
})   //submit end

/* show joblist */
$('#joblist').on('click',function(){
    joblist()
    return false
})
$(document).ready(function(){
 $.getJSON('/ansible_hostname/',function(data){
        console.log(data)
         var strhost="<option value='all'>all</option>"
         $.each(data,function(i,v){
             strhost+="<option value="+v+">"+v+"</option>"})
         console.log(strhost)
        $('#pattern').html(strhost)
      })
})

</script>



         </div>
    </div>
    <br>

{% endblock %}
